APP_CONFIG__INTEGRATION__SENTIMENT__API_URL=xxx
APP_CONFIG__INTEGRATION__SENTIMENT__API_KEY=xxx
APP_CONFIG__INTEGRATION__OPENAI_ORGANIZATION=xxx
APP_CONFIG__INTEGRATION__OPENAI_PROJECT=xxx
APP_CONFIG__INTEGRATION__OPENAI_API_KEY=xxx